<!-- Top Cart
============================================= -->
<div id="top-cart">
    {% set totalHT = 0 %}
    <a href="#" id="top-cart-trigger"><i class="icon-shopping-cart"></i><span>{{ total }}</span></a>
    <div class="top-cart-content">
        <div class="top-cart-title">
            <h4>{{ 'cart.shoppingCart'|trans }}</h4>
        </div>
        <div class="top-cart-items">
            {% for product in products %}
                <div class="top-cart-item clearfix">
                    <div class="top-cart-item-image">
                        {% set image = product.images|first %}
                        <a href="#"><img src="{{ asset('uploads/images/'~image.path) }}" alt="{{ product.name }}" /></a>
                    </div>
                    <div class="top-cart-item-desc">
                        <span>{{ product.name }}</span>
                        <span class="top-cart-item-price">${{ (product.price * cart[product.id])|number_format(2, ',', ' ') }}</span>
                        <span class="top-cart-item-quantity">x{{ cart[product.id] }}</span>
                    </div>
                </div>
                {% set totalHT = totalHT + (product.price * cart[product.id]) %}
            {% endfor %}
        
        </div>
        <div class="top-cart-action clearfix">
            <span class="fleft top-checkout-price">${{ totalHT|number_format(2, ',', ' ') }}</span>
            <button onClick="javascript:location.href='{{ path('cart', {'_locale': app.request.locale} ) }}'" class="button button-3d button-small nomargin fright">{{ 'cart.viewCart'|trans }}</button>
        </div>
    </div>
</div><!-- #top-cart end -->