{% extends '::layout/layout.html.twig' %}
{% block title %}Cart{% endblock %}
{% block cart %}current{% endblock %}

{% set totalHT = 0 %}
{% set totalTTC = 0 %}

{% block body %}
    <!-- Content
    ============================================= -->
    <section id="content">

        <div class="content-wrap">

            <div class="container clearfix">

                <div class="table-responsive bottommargin">
                    
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <div class="alert alert-{{ type }}">
                                <i class="icon-thumbs-up"></i>
                                    {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    
                    <table class="table cart">
                        <thead>
                            <tr>
                                <th class="cart-product-remove">&nbsp;</th>
                                <th class="cart-product-thumbnail">&nbsp;</th>
                                <th class="cart-product-name">{{ 'cart.product'|trans }}</th>
                                <th class="cart-product-price">{{ 'cart.unitPrice'|trans }}</th>
                                <th class="cart-product-quantity">{{ 'cart.quantity'|trans }}</th>
                                <th class="cart-product-subtotal">{{ 'cart.total'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if products | length == 0 %}
                                <tr class="cart_item">
                                    <td colspan="6">{{ 'cart.noProducts'|trans }}</td>
                                </tr>
                                <tr class="cart_item">
                                    <td colspan="6"><a style="float:right;" href="{{ path('products', {'_locale' : app.request.locale}) }}" class="add-to-cart button nomargin">{{ 'default.cart.continuePurchase'|trans }}</a></td>
                                </tr>
                            {% else %}
                            {% for product in products %}
                                
                            <tr class="cart_item">
                                <td class="cart-product-remove">
                                    <a href="{{ path('remove', {'_locale' : app.request.locale, 'id' : product.id}) }}" class="remove" title="{{ 'cart.removeItem'|trans }}"><i class="icon-trash2"></i></a>
                                </td>

                                <td class="cart-product-thumbnail">
                                    {% set image = product.images|first %}
                                    <a href="#"><img width="64" height="64" src="{{ asset('uploads/images/'~image.path) }}" alt="{{ image.name }}"></a>
                                </td>

                                <td class="cart-product-name">
                                    <a href="#">{{ product.name }}</a>
                                </td>

                                <td class="cart-product-price">
                                    <span class="amount">${{ product.price }}</span>
                                </td>

                                <td class="cart-product-quantity">
                                    <div class="quantity clearfix">
                                        <form action="{{ path('add', {'_locale' : app.request.locale, 'id' : product.id} ) }}" class="cart nobottommargin clearfix" method="get" enctype='multipart/form-data'>
                                            <input onChange="this.form.submit()" type="text" name="qty" value="{{ cart[product.id] }}" class="qty" />   
                                        </form>
                                    </div>
                                </td>

                                <td class="cart-product-subtotal">
                                    <span class="amount">{{ product.price * cart[product.id] }}</span>
                                </td>
                            </tr>
                            
                            {% set totalHT = totalHT + (product.price * cart[product.id]) %}
                            
                            {% endfor %}
                            {% set TPS = totalHT | taxe(0.05) %}
                            {% set TVQ = totalHT | taxe(0.09975) %}
                            
                            <tr class="cart_item">
                                <td colspan="6">
                                    <div class="row clearfix">
                                        <div class="col-md-4 col-xs-4 nopadding">
                                            <div class="col-md-8 col-xs-7 nopadding">
                                                <input type="text" value="" class="sm-form-control" placeholder="{{ 'cart.enterClientNumber'|trans }}" />
                                            </div>
                                            <div class="col-md-4 col-xs-5">
                                                <a href="#" class="button button-3d button-black nomargin">{{ 'cart.clientNumber'|trans }}</a>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-xs-8 nopadding">
                                            <a href="#" class="button button-3d nomargin fright">{{ 'cart.updateCart'|trans }}</a>
                                            <a href="{#{{ path('shipping', {'_locale' : app.request.locale}) }}#}" class="button button-3d notopmargin fright">{{ 'cart.proceedPaiement'|trans }}</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            
                            {% endif %}
                        </tbody>

                    </table>

                </div>
                
                {% if products | length != 0 %}
                <div class="row clearfix">
                    <div class="col-md-6 clearfix">
                        <h4>{{ 'cart.calculateShipping'|trans }}</h4>
                        <form>
                            <div class="col_full">
                                <select class="sm-form-control">
                                    <option value="CA">Canada</option>
                                </select>
                            </div>
                            <div class="col_half">
                                <input type="text" class="sm-form-control" placeholder="{{ 'cart.stateCountry'|trans }}" />
                            </div>

                            <div class="col_half col_last">
                                <input type="text" class="sm-form-control" placeholder="{{ 'cart.postalCode'|trans }}" />
                            </div>
                            <a href="#" class="button button-3d nomargin button-black">{{ 'cart.updateTotal'|trans }}</a>
                        </form>
                    </div>

                    <div class="col-md-6 clearfix">
                        <div class="table-responsive">
                            <h4>{{ 'cart.cartTotal'|trans }}</h4>

                            <table class="table cart">
                                <tbody>
                                    <tr class="cart_item">
                                        <td class="cart-product-name">
                                            <strong>{{ 'cart.priceHT'|trans }}</strong>
                                        </td>

                                        <td class="cart-product-name">
                                            <span class="amount">${{ totalHT }}</span>
                                        </td>
                                    </tr>
                                    <tr class="cart_item">
                                        <td class="cart-product-name">
                                            <strong>{{ 'cart.tps'|trans }}</strong>
                                        </td>

                                        <td class="cart-product-name">
                                            <span class="amount">${{ TPS }}</span>
                                        </td>
                                    </tr>
                                    <tr class="cart_item">
                                        <td class="cart-product-name">
                                            <strong>{{ 'cart.tvq'|trans }}</strong>
                                        </td>

                                        <td class="cart-product-name">
                                            <span class="amount">${{ TVQ }}</span>
                                        </td>
                                    </tr>
                                    <tr class="cart_item">
                                        <td class="cart-product-name">
                                            <strong>{{ 'cart.shipping'|trans }}</strong>
                                        </td>

                                        <td class="cart-product-name">
                                            <span class="amount">À voir...</span>
                                        </td>
                                    </tr>
                                    <tr class="cart_item">
                                        <td class="cart-product-name">
                                            <strong>{{ 'cart.total'|trans }}</strong>
                                        </td>

                                        <td class="cart-product-name">
                                            <span class="amount color lead"><strong>${{ totalHT + TPS + TVQ }}</strong></span>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
                {% endif %}

            </div>

        </div>

    </section><!-- #content end -->
{% endblock %}