{% extends '::layout/layout.html.twig' %}
{% block title %}Validation{% endblock %}
{% block cart %}current{% endblock %}

{% block css %}<link rel="stylesheet" href="{{ asset('css/components/radio-checkbox.css') }}" type="text/css" />{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ asset('js/components/bs-switches.js') }}"></script>
{% endblock %}
{% block body %}

    <!-- Content
    ============================================= -->
    <section id="content">

        <div class="content-wrap">

            <div class="container clearfix">

                <div class="col-md-6">
                    <div class="table-responsive clearfix">
                        <h4>{{ 'cart.validation.yourOrders'|trans }}</h4>

                        <table class="table cart">
                            <thead>
                                <tr>
                                    <th class="cart-product-thumbnail">&nbsp;</th>
                                    <th class="cart-product-name">{{ 'cart.validation.product'|trans }}</th>
                                    <th class="cart-product-quantity">{{ 'cart.validation.quantity'|trans }}</th>
                                    <th class="cart-product-subtotal">{{ 'cart.validation.total'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for product in order.orderDesc.products %}
                                    <tr class="cart_item">
                                        <td class="cart-product-thumbnail">
                                            {% set image = product.images|first %}
                                            <a href="#"><img width="64" height="64" src="{{ asset('uploads/images/'~image.path) }}" alt="{{ image.name }}"></a>
                                        </td>

                                        <td class="cart-product-name">
                                            <a href="#">{{ product.reference }}</a>
                                        </td>

                                        <td class="cart-product-quantity">
                                            <div class="quantity clearfix">
                                                1x{{ product.quantity }}
                                            </div>
                                        </td>

                                        <td class="cart-product-subtotal">
                                            <span class="amount">${{ product.priceHT }}</span>
                                        </td>
                                    </tr>

                                {% endfor %}

                            </tbody>

                        </table>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="table-responsive">
                        <h4>{{ 'cart.validation.cartTotal'|trans }}</h4>

                        <table class="table cart">
                            <tbody>
                                <tr class="cart_item">
                                    <td class="notopborder cart-product-name">
                                        <strong>{{ 'cart.validation.subtotal'|trans }}</strong>
                                    </td>

                                    <td class="notopborder cart-product-name">
                                        <span class="amount">${{ order.orderDesc.priceHT }}</span>
                                    </td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="cart-product-name">
                                        <strong>{{ 'cart.validation.shipping'|trans }}</strong>
                                    </td>

                                    <td class="cart-product-name">
                                        <span class="amount">{{ 'cart.validation.freeDelivery'|trans }}</span>
                                    </td>
                                </tr>

                                <tr class="cart_item">
                                    <td class="cart-product-name">
                                        <strong>{{ 'cart.validation.taxe'|trans }}</strong>
                                    </td>

                                    <td class="cart-product-name">
                                        <span class="amount color lead"><strong>${{ order.orderDesc.priceTTC - order.orderDesc.priceHT }}</strong></span>
                                    </td>
                                </tr>

                                <tr class="cart_item">
                                    <td class="cart-product-name">
                                        <strong>{{ 'cart.validation.total'|trans }}</strong>
                                    </td>

                                    <td class="cart-product-name">
                                        <span class="amount color lead"><strong>${{ order.orderDesc.priceTTC }}</strong></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
            <div class="container clearfix">
                <div class="col-md-3 pull-left">
                    <dl class="pull-left">
                        <dt><h4>{{ 'cart.validation.billingAddress'|trans }}</h4></dt>
                        <dt>{{ order.orderDesc.billing.firstname }} {{ order.orderDesc.billing.lastname }}</dt>
                        <dt>{{ order.orderDesc.billing.address }}</dt>
                        <dt>{{ order.orderDesc.billing.postalCode }} - {{ order.orderDesc.billing.city }}</dt>
                    </dl>
                </div>

                <div class="col-md-3">
                    <dl class="pull-left">
                        <dt><h4>{{ 'cart.validation.shippingAddress'|trans }}</h4></dt>
                        <dt>{{ order.orderDesc.shipping.firstname }} {{ order.orderDesc.shipping.lastname }}</dt>
                        <dt>{{ order.orderDesc.shipping.address }}</dt>
                        <dt>{{ order.orderDesc.shipping.postalCode }} - {{ order.orderDesc.shipping.city }}</dt>
                    </dl>
                </div>
                    <form action="{#{{ path('validationCommand', {'id' : order.id} )}}#}" method="post">
                        <input type="hidden" name="token" value="{{ order.orderDesc.token }}" />
                        <input type="hidden" name="prix" value="{{ order.orderDesc.priceTTC }}" />
                        <input type="hidden" name="date" value="{{ order.date|date('dmyhms') }}" />
                 
                    
                    
                <div class="col-md-6">
                    <a href="{{ paypal }}" class="button button-3d fright">{{ 'cart.validation.paypalPaiement'|trans }}</a>
                    
                    <a href="{{ path('shipping', {'_locale' : 'fr'}) }}" class="button button-3d fright">{{ 'cart.validation.back'|trans }}</a>
                </div>
                    </form>
            </div>
        </div>

    </div>

</section><!-- #content end -->
{% endblock %}


