{% extends '::layout/layout.html.twig' %}
{% block title %}About{% endblock %}
{% block keyword %}{% endblock %}
{% block description %}{% endblock %}
{% block index %}current{% endblock %}
{% block css %}
    <!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('include/rs-plugin/css/settings.css') }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ asset('include/rs-plugin/css/layers.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('include/rs-plugin/css/navigation.css') }}">

    <style>

        .revo-slider-emphasis-text {
            font-size: 64px;
            font-weight: 700;
            letter-spacing: -1px;
            font-family: 'Raleway', sans-serif;
            padding: 15px 20px;
            border-top: 2px solid #FFF;
            border-bottom: 2px solid #FFF;
        }

        .revo-slider-desc-text {
            font-size: 20px;
            font-family: 'Lato', sans-serif;
            width: 650px;
            text-align: center;
            line-height: 1.5;
        }

        .revo-slider-caps-text {
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 3px;
            font-family: 'Raleway', sans-serif;
        }
        .tp-video-play-button { display: none !important; }

        .tp-caption { white-space: nowrap; }

    </style>

{% endblock %}

{% block body %}
    <section id="slider" class="slider-parallax revslider-wrap clearfix">
        <div class="slider-parallax-inner">
            <!--
            #################################
                    - THEMEPUNCH BANNER -
            #################################
            -->
            <div class="tp-banner-container">
                <div class="tp-banner" >
                    <ul>
                        <!-- SLIDE  -->
                        <li class="dark" data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="{{ asset('images/watertec/slider1_2000x1333.jpg') }}" data-delay="15000"  data-saveperformance="off"  data-title="Unlimited Possibilities">
                            <!-- MAIN IMAGE -->
                            <img src="{{ asset('images/watertec/slider1_2000x1333.jpg') }}"  alt="kenburns6"  data-bgposition="center bottom" data-kenburns="on" data-duration="25000" data-ease="Linear.easeNone" data-scale="100" data-scaleend="120" data-bgpositionend="center top">
                            <!-- LAYERS -->

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text uppercase"
                                 data-x="453"
                                 data-y="170"
                                 data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
                                 data-speed="800"
                                 data-start="1000"
                                 data-easing="easeOutQuad"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.1"
                                 data-endspeed="1000"
                                 data-endeasing="Power4.easeIn" style="z-index: 3; white-space: nowrap;">{{ "default.about.sliderQuestion1"|trans }}</div>

                            <div class="tp-caption customin ltl tp-resizeme revo-slider-emphasis-text nopadding noborder"
                                 data-x="264"
                                 data-y="185"
                                 data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
                                 data-speed="800"
                                 data-start="1200"
                                 data-easing="easeOutQuad"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.1"
                                 data-endspeed="1000"
                                 data-endeasing="Power4.easeIn" style="z-index: 3; white-space: nowrap;">{{ "default.about.sliderTitre1"|trans }}</div>

                            <div class="tp-caption customin ltl tp-resizeme revo-slider-desc-text"
                                 data-x="245"
                                 data-y="295"
                                 data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
                                 data-speed="800"
                                 data-start="1400"
                                 data-easing="easeOutQuad"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.1"
                                 data-endspeed="1000"
                                 data-endeasing="Power4.easeIn" style="z-index: 3; max-width: 650px; white-space: normal;">{{ "default.about.sliderAnswer1"|trans }}</div>

                        </li>

                        <li class="dark" data-transition="zoomout" data-slotamount="1" data-masterspeed="1500" data-thumb="{{ asset('images/watertec/slider2_2000x1333.jpg') }}"  data-saveperformance="off"  data-title="Fixed-Size Video">
                            <!-- MAIN IMAGE -->
                            <img src="{{ asset('images/watertec/slider2_2000x1333.jpg') }}"  alt="citybg" data-lazyload="{{ asset('images/watertec/slider2_2000x1333.jpg') }}" data-bgposition="center top" data-scale="cover" data-bgrepeat="no-repeat">
                            <!-- LAYERS -->

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text uppercase"
                                 data-x="0"
                                 data-y="165"
                                 data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
                                 data-speed="800"
                                 data-start="1000"
                                 data-easing="easeOutQuad"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.1"
                                 data-endspeed="1000"
                                 data-endeasing="Power4.easeIn" style="white-space: nowrap; color: #333;">{{ "default.about.sliderQuestion2"|trans }}</div>

                            <div class="tp-caption customin ltl tp-resizeme revo-slider-emphasis-text nopadding noborder"
                                 data-x="-3"
                                 data-y="180"
                                 data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
                                 data-speed="800"
                                 data-start="1200"
                                 data-easing="easeOutQuad"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.1"
                                 data-endspeed="1000"
                                 data-endeasing="Power4.easeIn" style="font-size: 56px; white-space: nowrap; color: #333;">{{ "default.about.sliderTitle2"|trans }}</div>

                            <div class="tp-caption customin ltl tp-resizeme revo-slider-desc-text tleft"
                                 data-x="0"
                                 data-y="280"
                                 data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
                                 data-speed="800"
                                 data-start="1400"
                                 data-easing="easeOutQuad"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.1"
                                 data-endspeed="1000"
                                 data-endeasing="Power4.easeIn" style="max-width: 550px; white-space: normal; color: #333;">{{ "default.about.sliderAnswer2"|trans }}</div>

                        </li>
                        <li class="dark" data-transition="zoomout" data-slotamount="1" data-masterspeed="1500"data-thumb="{{ asset('images/watertec/slider3_2000x1333.jpg') }}"  data-saveperformance="off"  data-title="Fixed-Size Video">
                            <!-- MAIN IMAGE -->
                            <img src="{{ asset('images/watertec/slider3_2000x1333.jpg') }}"  alt="kenburns6"  data-bgposition="left bottom" data-kenburns="on" data-duration="20000" data-ease="Linear.easeNone" data-scale="100" data-scaleend="120" data-bgpositionend="right top">
                            <!-- LAYERS -->
                            <div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text uppercase"
                                 data-x="675"
                                 data-y="165"
                                 data-customin="x:140;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
                                 data-speed="800"
                                 data-start="1000"
                                 data-easing="easeOutQuad"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.1"
                                 data-endspeed="1000"
                                 data-endeasing="Power4.easeIn" style="white-space: nowrap;">{{ "default.about.sliderQuestion3"|trans }}</div>

                            <div class="tp-caption customin ltl tp-resizeme revo-slider-emphasis-text nopadding noborder"
                                 data-x="672"
                                 data-y="180"
                                 data-customin="x:140;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
                                 data-speed="800"
                                 data-start="1200"
                                 data-easing="easeOutQuad"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.1"
                                 data-endspeed="1000"
                                 data-endeasing="Power4.easeIn" style="font-size: 56px; white-space: nowrap;">{{ "default.about.sliderTitle3"|trans }}</div>

                            <div class="tp-caption customin ltl tp-resizeme revo-slider-desc-text tleft"
                                 data-x="675"
                                 data-y="280"
                                 data-customin="x:140;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
                                 data-speed="800"
                                 data-start="1400"
                                 data-easing="easeOutQuad"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.1"
                                 data-endspeed="1000"
                                 data-endeasing="Power4.easeIn" style="max-width: 450px; white-space: normal;">{{ "default.about.sliderAnswer"|trans }}</div>

                        </li>
                    </ul>
                </div>
            </div><!-- END REVOLUTION SLIDER -->
        </div>
    </section>
    <!-- Content
    ============================================= -->
    <section id="content">
        <div class="content-wrap">

            <div class="promo promo-full promo-border header-stick bottommargin-lg">
                <div class="container clearfix">
                    <h3>{{ "default.about.titleConsultant"|trans }}</h3>
                    <span>{{ "default.about.consultant"|trans }}</span>
                    <a href="#" class="button button-reveal button-xlarge button-rounded tright"><i class="icon-angle-right"></i><span>{{ "default.about.browse"|trans }}</span></a>
                </div>
            </div>

            <div class="container clearfix">

                <div class="col_one_third">
                    <div class="heading-block fancy-title nobottomborder title-bottom-border">
                        <h4 style="color: #3179bd;">{{ "default.about.colTitle1"|trans }}</span></h4>
                    </div>

                    <p style="text-align:justify;">{{ "default.about.colExplain1"|trans }}</p>

                </div>

                <div class="col_one_third">
                    <div class="heading-block fancy-title nobottomborder title-bottom-border">
                        <h4 style="color: #3179bd;">{{ "default.about.coltitle2"|trans }}</span></h4>
                    </div>

                    <p style="text-align:justify;">{{ "default.about.colExplain2"|trans }}</p>

                </div>

                <div class="col_one_third col_last">
                    <div class="heading-block fancy-title nobottomborder title-bottom-border">
                        <h4 style="color: #3179bd;">{{ "default.about.colTitle3"|trans }}</span></h4>
                    </div>

                    <p style="text-align:justify;">{{ "default.about.colExplain3"|trans }}</p>
                </div>

                <div class="clear"></div><div class="line"></div>

                <div id="oc-clients-full" class="owl-carousel image-carousel carousel-widget" data-margin="30" data-nav="false" data-loop="true" data-autoplay="5000" data-pagi="false" data-items-xxs="2" data-items-xs="3" data-items-sm="4" data-items-md="5" data-items-lg="6">

                    <a href="http://www.hydrover.eu/index.php/fr/" target="_blank"><img src="{{ asset('images/watertec/partenaires/hydrover.jpg') }}" alt="Clients"></a>
                    <a href="http://fr.pentairpool.com/index.html" target="_blank"><img src="{{ asset('images/watertec/partenaires/pentair.jpg') }}" alt="Clients"></a>
                    <a href="http://www.raypak.com/" target="_blank"><img src="{{ asset('images/watertec/partenaires/raypak.jpg') }}" alt="Clients"></a>
                    <a href="http://www.swimeq.com/" target="_blank"><img src="{{ asset('images/watertec/partenaires/swimeq.jpg') }}" alt="Clients"></a>
                    <a href="http://www.waterco.ca/" target="_blank"><img src="{{ asset('images/watertec/partenaires/waterco.jpg') }}" alt="Clients"></a>
                    <a href="http://www.waterco.us/component/virtuemart/details/161/24/pool-&-spa-products/commercial-pumps/hydro5000-cast-iron-pump" target="_blank"><img src="{{ asset('images/watertec/partenaires/baker.jpg') }}" alt="Clients"></a>
                    <a href="http://www.sanjuanpools.com" target="_blank"><img src="{{ asset('images/watertec/partenaires/SJ.jpg') }}" alt="Clients"></a>
                    <a href="http://plad.com/fr/Produits_fr.aspx" target="_blank"><img src="{{ asset('images/watertec/partenaires/plad.gif') }}" alt="Clients"></a>
                    <a href="http://kebechem.com/" target="_blank"><img src="{{ asset('images/watertec/partenaires/kebechem.jpg') }}" alt="Clients"></a>
                    <a href="http://schwimmbadabdeckung.grando.de/fr/home/couvertures+de+piscines+automatiques.html" target="_blank"><img src="{{ asset('images/watertec/partenaires/grando.jpg') }}" alt="Clients"></a>


                </div>

            </div>

        </div>


    </section><!-- #content end -->
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ asset('include/rs-plugin/js/jquery.themepunch.tools.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('include/rs-plugin/js/jquery.themepunch.revolution.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('include/rs-plugin/js/extensions/revolution.extension.video.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('include/rs-plugin/js/extensions/revolution.extension.slideanims.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('include/rs-plugin/js/extensions/revolution.extension.actions.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('include/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('include/rs-plugin/js/extensions/revolution.extension.kenburn.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('include/rs-plugin/js/extensions/revolution.extension.navigation.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('include/rs-plugin/js/extensions/revolution.extension.migration.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('include/rs-plugin/js/extensions/revolution.extension.parallax.min.js') }}"></script>

    <script type="text/javascript">

        var tpj = jQuery;
        tpj.noConflict();

        tpj(document).ready(function () {

            var apiRevoSlider = tpj('.tp-banner').show().revolution(
                    {
                        sliderType: "standard",
                        jsFileLocation: "include/rs-plugin/js/",
                        sliderLayout: "fullwidth",
                        dottedOverlay: "none",
                        delay: 16000,
                        startwidth: 1140,
                        startheight: 600,
                        hideThumbs: 200,

                        thumbWidth: 100,
                        thumbHeight: 50,
                        thumbAmount: 5,

                        navigation: {
                            keyboardNavigation: "off",
                            keyboard_direction: "horizontal",
                            mouseScrollNavigation: "off",
                            onHoverStop: "off",
                            touch: {
                                touchenabled: "on",
                                swipe_threshold: 75,
                                swipe_min_touches: 1,
                                swipe_direction: "horizontal",
                                drag_block_vertical: false
                            },
                            arrows: {
                                style: "hermes",
                                enable: true,
                                hide_onmobile: false,
                                hide_onleave: false,
                                tmp: '<div class="tp-arr-allwrapper">	<div class="tp-arr-imgholder"></div>	<div class="tp-arr-titleholder"></div>	</div>',
                                left: {
                                    h_align: "left",
                                    v_align: "center",
                                    h_offset: 10,
                                    v_offset: 0
                                },
                                right: {
                                    h_align: "right",
                                    v_align: "center",
                                    h_offset: 10,
                                    v_offset: 0
                                }
                            }
                        },

                        touchenabled: "on",
                        onHoverStop: "on",

                        swipe_velocity: 0.7,
                        swipe_min_touches: 1,
                        swipe_max_touches: 1,
                        drag_block_vertical: false,

                        parallax: "mouse",
                        parallaxBgFreeze: "on",
                        parallaxLevels: [7, 4, 3, 2, 5, 4, 3, 2, 1, 0],

                        keyboardNavigation: "off",

                        navigationHAlign: "center",
                        navigationVAlign: "bottom",
                        navigationHOffset: 0,
                        navigationVOffset: 20,

                        soloArrowLeftHalign: "left",
                        soloArrowLeftValign: "center",
                        soloArrowLeftHOffset: 20,
                        soloArrowLeftVOffset: 0,

                        soloArrowRightHalign: "right",
                        soloArrowRightValign: "center",
                        soloArrowRightHOffset: 20,
                        soloArrowRightVOffset: 0,

                        shadow: 0,
                        fullWidth: "on",
                        fullScreen: "off",

                        spinner: "spinner4",

                        stopLoop: "off",
                        stopAfterLoops: -1,
                        stopAtSlide: -1,

                        shuffle: "off",

                        autoHeight: "off",
                        forceFullWidth: "off",
                        hideTimerBar: "on",

                        hideThumbsOnMobile: "off",
                        hideNavDelayOnMobile: 1500,
                        hideBulletsOnMobile: "off",
                        hideArrowsOnMobile: "off",
                        hideThumbsUnderResolution: 0,

                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0,
                        startWithSlide: 0,
                    });

            apiRevoSlider.bind("revolution.slide.onloaded", function (e) {
                setTimeout(function () {
                    SEMICOLON.slider.sliderParallaxDimensions();
                }, 200);
            });

            apiRevoSlider.bind("revolution.slide.onchange", function (e, data) {
                SEMICOLON.slider.revolutionSliderMenu();
            });

        });

    </script>
{% endblock %}