{% trans_default_domain 'admin' %}
{% extends '::layout/layoutAdmin.html.twig' %}

{% block title %}{{ 'products.new.pageTitle'|trans }}{% endblock title %}

{% block body -%}
    <!-- Content 
    ============================================= -->
    <section id="content">

        <div class="content-wrap">
            <div class="container clearfix">

                <div class="tabs divcenter nobottommargin clearfix" id="tab-login-register" style="max-width: 700px;">
                    <h1>Produits creation</h1>
                    {% form_theme form 'form/fields.html.twig' %}
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="{{ 'products.new.create'|trans }}" />
                    {{ form_end(form) }}
                    <a href="{{ path('adminProducts_index') }}">
                        {{ 'products.backList'|trans }}
                    </a>

                </div>
            </div>         
        </div>

    </section>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ asset('js/ckeditor/ckeditor.js') }}"></script>
{% endblock script %}