{% extends '::layout/layoutAdmin.html.twig' %}

{% block products %}current{% endblock %}

{% block body -%}
    <section id="content">

        <div class="content-wrap">
            <div class="container clearfix">

                <div class="tabs divcenter nobottommargin clearfix" id="tab-login-register" style="max-width: 700px;">

                    <h1>Produits</h1>

                    <table class="records_properties table table-striped">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ product.id }}</td>
                            </tr>
                            <tr>
                                <th>Nom</th>
                                <td>{{ product.name }}</td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>{{ product.description|raw }}</td>
                            </tr>
                            <tr>
                                <th>Prix</th>
                                <td>{{ product.price }}</td>
                            </tr>
                            <tr>
                                <th>Disponible</th>
                                <td>{{ product.available }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="col_half nobottommargin">
                        <a href="{{ path('adminProducts_index') }}">
                            Back to the list
                        </a>
                    </div>
                    <div class="col_last nobottommargin">
                        <a href="{{ path('adminProducts_edit', { 'id': product.id }) }}">
                            Edit
                        </a>
                    </div>

                    {{ form(delete_form) }}

                </div>
            </div>         
        </div>

    </section>
{% endblock %}
